@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Plus+Jakarta+Sans:wght@400;500;600&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --font-headline: "Manrope", ui-serif, Georgia, serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-on-primary-container: #edefff;
  --color-tertiary-container: #c24100;
  --color-surface-container-low: #f5f3ee;
  --color-secondary-fixed-dim: #b7c9d9;
  --color-surface-tint: #0056d2;
  --color-inverse-primary: #b2c5ff;
  --color-on-secondary-fixed: #0c1d29;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #747688;
  --color-on-surface: #1b1c19;
  --color-on-error-container: #93000a;
  --color-on-background: #1b1c19;
  --color-secondary-fixed: #d3e5f5;
  --color-on-error: #ffffff;
  --color-primary-fixed: #dae2ff;
  --color-on-tertiary-fixed-variant: #812800;
  --color-error: #ba1a1a;
  --color-on-primary-fixed-variant: #0040a1;
  --color-outline-variant: #c4c5d9;
  --color-secondary-container: #d0e2f2;
  --color-surface-container-high: #eae8e3;
  --color-on-tertiary-container: #ffece6;
  --color-surface-variant: #e4e2dd;
  --color-on-secondary-fixed-variant: #384956;
  --color-error-container: #ffdad6;
  --color-on-secondary: #ffffff;
  --color-surface-container-highest: #e4e2dd;
  --color-inverse-surface: #30312e;
  --color-primary-fixed-dim: #b2c5ff;
  --color-on-secondary-container: #546572;
  --color-surface-dim: #dbdad5;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #001847;
  --color-inverse-on-surface: #f2f1ec;
  --color-surface-container: #f0eee9;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #380d00;
  --color-background: #fbf9f4;
  --color-secondary: #50606e;
  --color-tertiary-fixed-dim: #ffb59b;
  --color-surface: #fbf9f4;
  --color-tertiary-fixed: #ffdbcf;
  --color-on-surface-variant: #434656;
  --color-tertiary: #993100;
  --color-primary: #004dbe;
  --color-primary-container: #2566e1;
  --color-surface-bright: #fbf9f4;

  --radius-xl: 0.75rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
